.article-article {
  margin-top: 12.5rem;
  @media (max-width: 1000px) {
    margin-top: 4.375rem;
  }
}
.article-article__inner {
}
.article-article__top {
  margin-bottom: 3.75rem;
}
.article-article__image {
  width: 43.75rem;
  height: 25rem;
  object-fit: cover;
  margin-bottom: 3.125rem;
  @media (max-width: 700px) {
    width: 100%;
    height: auto;
  }
}
.article-article__texts {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
.article-article__text {
  color: rgb(179, 171, 171);
  font-size: 1.25rem;
  max-width: 43.125rem;
  line-height: 1.5;
}
.article-article__body {
}
.article-article__title {
  color: black;
  text-transform: capitalize;
  font-size: 2.1875rem;
  font-weight: 500;
  margin-bottom: 1.5625rem;
}
