.blogs-hero {
  padding-top: 15.625rem;
  padding-bottom: 3.75rem;
  @media (max-width: 1100px) {
    padding-top: 9.375rem;
    padding-bottom: 0;
  }
  @media (max-width: 490px) {
    padding-top: 12.5rem;
  }
}

.blogs-hero__top {
  margin: 0 auto 9.375rem;
  max-width: 650px;
  @media (max-width: 1100px) {
    margin-bottom: 1.875rem;
  }
  @media (max-width: 700px) {
    margin-bottom: 1.875rem;
  }
}

.blogs-hero__title {
  color: black;
  font-size: 3.75rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}
.blogs-hero__text {
  line-height: 1.7;
  color: rgb(185, 175, 175);
  font-size: 1.25rem;
}
.blogs-hero__projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5625rem;
  img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.blogs-hero__project {
}

.blogs-hero__link {
  display: block;
  position: relative;
  overflow: hidden;
  &:hover {
    .blogs-hero__hover {
      transform: scaleY(1);
    }
  }
}

.blogs-hero__hover {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.724);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  transform-origin: bottom;
  transform: scaleY(0);
}

.blogs-item__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.9375rem;
  h3 {
    color: white;
    font-size: 1.5625rem;
  }
  span {
    color: rgba(226, 217, 217, 0.829);
    font-size: 1.125rem;
  }
}
