.hero {
  padding-top: 15.625rem;
  @media (max-width: 1000px) {
    padding-top: 9.375rem;
  }
  @media (max-width: 480px) {
    padding-top: 3.125rem;
  }
}
.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  margin-bottom: 9.375rem;
  color: black;
  font-size: 3.75rem;
  font-weight: 500;
  max-width: 46.875rem;
  line-height: 1.2;
  @media (max-width: 1000px) {
    margin-bottom: 2.5rem;
  }
  @media (max-width: 480px) {
    font-size: 2.5rem;
    margin-top: 9.375rem;
  }
}
.hero-items {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.hero-items__block1 {
  display: flex;
  align-items: center;
  column-gap: 1.5625rem;
  @media (max-width: 900px) {
    flex-direction: column;
    row-gap: 1.875rem;
  }
  .hero-item__image {
    height: 21.875rem;
    width: 38.125rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
.hero-items__block2 {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  @media (max-width: 770px) {
    flex-direction: column;
  }
  .hero-item__image {
    height: 15.625rem;
    width: 25rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
.hero-items__item {
  position: relative;
  overflow: hidden;
  &:hover {
    .hero-item__hover {
      transform: scaleY(1);
    }
  }
}

.hero-item__hover {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.724);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.4s ease-in-out;
  transform-origin: bottom;
  transform: scaleY(0);
}

.hero-item__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.9375rem;
  h3 {
    color: white;
    font-size: 1.5625rem;
  }
  span {
    color: rgba(226, 217, 217, 0.829);
    font-size: 1.125rem;
  }
}
