@use "./home/reset.scss";
@use "./home/header.scss";
@use "./home/hero.scss";
@use "./home/about.scss";
@use "./home/blog.scss";
@use "./home/start.scss";
@use "./home/footer.scss";

@use "./works/works-hero.scss";

@use "./about/about-hero.scss";
@use "./about/experts.scss";
@use "./about/team.scss";

@use "./blog/blogs.scss";

@use "./articles/article-global.scss";
@use "./articles/article-top.scss";
@use "./articles/article-article.scss";
@use "./articles/articles-comments.scss";
@use "./articles/article-sidebar.scss";

@use "./contact/contact-top.scss";
@use "./contact/contact-form.scss";
@use "./contact/contact-map.scss";

:root {
  --robotoFont: "Roboto", sans-serif;
}

body {
  font-family: var(--robotoFont);
  opacity: 0;
  transition: opacity 0.6s ease;
}

body.fade-in {
  opacity: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}
